@charset "UTF-8";
* { margin: 0; padding: 0;}
a { text-decoration: none; color: #000;}
li {list-style: none;}
.hidden { position: absolute; left: -9999px;}
main { min-width: 1280px;}
/*  header */
#header { overflow: hidden; width: 1280px; height: 100px; margin: 0 auto; }

#header h1 { width: 170px; height: 70px; float: left;}

#header h1 a { display: block; width: 200px; height: 70px; text-indent: -9999px;
              background: url(../img/hg_logo.png) no-repeat center; padding: 10px 20px 10px 20px; }

/* gnb */
#gnb { width: 1000px; height: 70px; float: left;}
#gnb ul { float: right; }
#gnb li { float: left; width: 150px; padding-top: 30px; text-align: center;}
#gnb li a { display: block; height: 50px; font-size: 20px;}
/* client */
#userWrap {  position:absolute; right: 100px; padding: 30px 10px; float:left; }
#userWrap .login { float: left; font-size: 20px; padding-right: 10px;}
#userWrap .login a { padding-left: 10px;}
#userWrap .user { padding-left: 15px;  }
/* event */
#event { background: #b833ff; width: 100%; height: 500px; }
#eventTime { position: relative; width: 1000px; height: 400px;  margin: 0 auto; top: calc(10% - 10px); }
#eventList { background-color: #0c9000; }
#eventList li { position: absolute; top: 0; left: 0; width: 100%; height: 400px;}

#eventList .eventSlide1 { background: url(../img/event1.jpg) no-repeat center / cover;}
#eventList .eventSlide2 { background: url(../img/event2.jpeg) no-repeat center / cover;}
#eventList .eventSlide3 { background: url(../img/event3.jpg) no-repeat center / cover;}
#eventList .on { z-index: 9;}

/* 슬라이드 버튼 */
#posBtn a { position: absolute; top: calc(50% - 100px); z-index: 999;
            width: 70px; height: 100px;
            text-align: center; line-height: 100px;
            text-indent: -9999px;
             }
#posBtn a.prev {  top: calc(50% - 170px); left: 150px; background: url(../img/main_arrow_left.png) no-repeat center / 70px; }
#posBtn a.next {  top: calc(50% - 170px); right: 150px; background: url(../img/main_arrow_right.png) no-repeat center / 70px; }
/* 슬라이드 순서버튼 */
#numBtn { position: absolute; left: calc(50% - 65px); bottom: 50px; z-index: 999; }
#numBtn a { display: block; width: 20px; height: 20px; float: left;
            margin: 0 10px; border-radius: 50%;
            text-align: center; line-height: 50px;
            font-weight: bold; font-size: 24px;
            background: #000; text-indent: -9999px;}
#numBtn a.active { background: #fff; color: #000; }

.eventSlide1 > strong {  position: relative;
                         top: calc(50% - 80px); left: calc(50% - 225px); font-size: 32px;}
.eventSlide1 p:nth-child(2) { display: block; position: relative;
                              top: calc(50% - 50px); left: calc(50% - 165px);  }
.eventSlide1 p:nth-child(3) {  display: block; position: relative;
                               top: calc(50% - 30px); left: calc(50% - 95px);}
.eventSlide1 a {  display: block; position: relative; width: 100px; height: 40px; background: #dd6007; color: #fff; text-align:center; line-height: 40px;
                  top: calc(50% - 15px); left: calc(50% - 55px);}

.eventSlide2 > strong {  position: relative; top: calc(50% - 60px); left: calc(50% - 225px); font-size: 32px;}

.eventSlide2 p:nth-child(2) { display: block; position: relative; top: calc(50% - 30px); left: calc(50% - 165px);  }

.eventSlide3 > strong {  position: relative; top: calc(50% - 40px); left: calc(50% - 225px); font-size: 32px;}

.eventSlide3 p:nth-child(2) { display: block; position: relative; top: calc(50% - 30px); left: calc(50% - 165px);  }


/* 이달의 핫픽스 */
#hotpics { overflow: hidden; width: 900px; height: 500px; margin: 0 auto;}
#hotpics h2 { text-align: center; padding-top: 40px;}
#hotpics p { text-align: center; padding-top: 20px;}

#hotWrap { overflow: hidden; width: 900px; height: 300px; margin: 0 auto; padding-top: 70px;}
#hotWrap .hotNo { float: left; padding-left: 20px; }
#hotWrap .hotNo a { display: block; width: 250px; height:250px; text-indent: -9999px; border-radius: 10%;}
#hotWrap dt { font-size: 12px;}

/* 국내 제철과일  */

#nation { overflow: hidden; width: 1000px; height: 500px; margin: 0 auto;}
#nation h2 { text-align: center; padding-top: 40px;}
#nation p { text-align: center; padding-top: 20px;}
#nationWrap { overflow: hidden; width: 900px; height: 300px; margin: 0 auto; padding-top: 70px;}
#nationWrap .nateNo { float: left; padding-left: 20px; }
#nationWrap .nateNo a { display: block; width: 250px; height:250px; text-indent: -9999px; border-radius: 10%;}
#nationWrap .nateNo dt { font-size: 12px;}

/* 해외 제철과일  */
#foreign { overflow: hidden; width: 1000px; height: 500px; margin: 0 auto;}
#foreign h2 { text-align: center; padding-top: 40px;}
#foreign p { text-align: center; padding-top: 20px;}
#foreWrap { overflow: hidden; width: 900px; height: 300px; margin: 0 auto; padding-top: 70px;}
#foreWrap .foreNo { float: left; padding-left: 20px; }
#foreWrap .foreNo a { display: block; width: 250px; height:250px; text-indent: -9999px; border-radius: 10%;}
#foreWrap .foreNo dt { font-size: 12px;}

/* 열대과일  */
#tropical { overflow: hidden; width: 1000px; height: 500px; margin: 0 auto;}
#tropical h2 { text-align: center; padding-top: 40px;}
#tropical p { text-align: center; padding-top: 20px;}
#tropWrap { overflow: hidden; width: 900px; height: 300px; margin: 0 auto; padding-top: 70px;}
#tropWrap .tropNo { float: left; padding-left: 20px; }
#tropWrap .tropNo a { display: block; width: 250px; height:250px; text-indent: -9999px; border-radius: 10%;}
#tropWrap .tropNo dt { font-size: 12px;}

/* images */
.hotpic1  { background: url(../img/applemango.jpg) no-repeat center / cover;}
.hotpic2  { background: url(../img/gromichel.jpg) no-repeat center / cover;}
.hotpic3  { background: url(../img/dodoria.jpeg) no-repeat center / cover;}
.natepic1 { background: url(../img/apple.jpg) no-repeat center / cover;}
.natepic2 { background: url(../img/pear.jpg) no-repeat center / cover;}
.natepic3 { background: url(../img/geul.jpg) no-repeat center / cover;}
.forepic1 { background: url(../img/grape.jpg) no-repeat center / cover;}
.forepic2 { background: url(../img/blueberry.jpg) no-repeat center / cover;}
.forepic3 { background: url(../img/pomegratel.jpg) no-repeat center / cover;}
.tropic1 { background: url(../img/) no-repeat center / cover; }
.tropic2 { background: url(../img/) no-repeat center / cover; }
.tropic3 { background: url(../img/) no-repeat center / cover; }

#qna { overflow: hidden; width: 1280px; height: 500px;  margin: 0 auto; }
#qna p { text-align: center; padding-top: 20px;}
#qnaWrap { overflow:hidden; width: 1280px; height: 500px; margin: 0 auto;}
#qnaWrap .step a.on { color: #fc5045;}
#qnaWrap input { width: 100px; height: 40px; background-color: #acacac; }
.feelin { opacity: 0;}
.species { opacity: 0;}
